<html>
    <head>
        <link href="mycss.css" rel="stylesheet" media = "screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="header">
        <h2>Summary of Beacons Set Up</h2>
    </div>
    <div class="wrapper">
    <table id="tabledata">  
        <thead text-align="center">  
            <tr>  
                <th id="tblheader">Beacon ID</th>  
                <th id="tblheader">Name</th>
                <th id="tblheader">Alias</th>   
                <th id="tblheader">Location</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% checkin.forEach(function (checkin) { %>
            <tr>  
                <td id="tbldata"><%= checkin.bid %></td>  
                <td id="tbldata"><%= checkin.bname %></td>
                <td id="tbldata"><%= checkin.balias %></td>
                <td id="tbldata"><%= checkin.location %></td>
            
            </tr>                                   
         <% }) %>
         </tbody>
    </table>
    </div>
    <div class="footer">
        Developed by DDSLab Team
    </div>
</body>

</html>